main {
    display: flex;
    align-items: stretch;
    min-height: 100vh;

}

h5 {
    font-size: 2vh;

}

h3 {
    font-size: 2vh;
}

p {
    font-size: 2em;

}

/* 
------------------------------------
------------------------------------ */

#main-cont-1 {
    flex: 1;

    flex-basis: 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    border: 1px solid rgb(192, 192, 192);
}

#logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

#main-cont-1 img {
    height: 50px;
    width: 50px;
}

#main-cont-1 button {
    font-size: 1.4em;
}

/* ------------------------------------- */

.sidenav {
    width: 100%;
}

.sidenav button {
    width: 100%;
    background-color: white;
    cursor: pointer;
    border: none;
}

/* -------------------------------------
---------------------------------------- */
#main-cont-2 {
    flex: 1;
    flex-basis: 45%;
    min-height: 100vh;
    position: relative;
}

/* --------------------------------------- */
#searchbar-cont {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
}

#searchbar-cont form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar-cont input[type="text"] {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 2%;
    border-radius: 25px;
    /* font-family: 'Font Awesome 5 Free', Arial; */
    font-weight: 400;
    font-size: 1.5em;

}

#searchbar-cont :placeholder-shown {
    padding-left: 25px;
    font-size: 1em;
}

#searchbar-cont input[type="submit"] {
    background-color: green;
    color: aliceblue;
    border-radius: 15px;
    height: 100%;
    border: none;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 10%;
    font-size: 1.5em;
}

/* ------------------------------------------- */

#main-card {
    width: 50%;
    margin: 5% 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#main-card-min1 {
    display: flex;
    justify-content: space-around;
}

/* ........................................... */

#main-card-min2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#temp {
    font-size: 6em;
}

/* ------------------------------------------------ */

#error {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    border: 2px solid black;
    margin-left: 25%;
    margin-bottom: 30%;
}

#error h4 {
    font-size: xx-large;
    color: red;
}

/* --------------------------------------------- */

#components {
    display: none;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 5%;
    margin: 10% 5%;

}

.c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(224, 239, 245);
    height: 40vh;

}

.c1 h5,
.c1 p {
    margin: 0px;
    padding: 0px;
    margin-top: 1vh;
}

.c1 h5{
    font-size: 3vh;
}

.c1 p{
    font-size: 3vh;
}
/* ----------------------------------------
---------------------------------------- */
#main-cont-3 {
    flex: 1;
    flex-basis: 40%;
    min-height: 100vh;
}